/* CSS Code */
/* Heading */

@font-face {
  font-family: "Asteratty";
  src: url("/assets/Asteratty.ttf");

  font-family: "Louis George Cafe";
  src: url("/assets/fonts/Louis George Cafe.ttf");
}

html {
  background-color: rgb(35, 36, 48);
  background-image: none;
  font-family: sans-serif;
  /* zoom: 130%; */
}


h1 {
  font-size: 40px;
  color: whitesmoke;
  font-weight: lighter;
  font-family: 'Louis George Cafe'
}

h1::after {
  content: '';
}

h1::before {
  content: '';
}

/* 3*3 Grid */
#b1,
#b2,
#b3,
#b4,
#b5,
#b6,
#b7,
#b8,
#b9 {
  width: 80px;
  height: 80px;
  border: 0px solid gray;
  border-radius: 5px;
  margin: -12px 2px 2px 2px;
  font-size: 30px;
  text-align: center;
  background-color: whitesmoke;
  cursor: pointer;
  font-size: 50px;
  font-weight: bold;
  font-family: 'Louis George Cafe';
  color: #293947;
}

#b1:hover,
#b2:hover,
#b3:hover,
#b4:hover,
#b5:hover,
#b6:hover,
#b7:hover,
#b8:hover,
#b9:hover {
  background-color: rgb(184, 184, 184);
}

.plr_info {
  display: flex;
  justify-content: center;
  margin-top: -10px;
}

.num_info {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

/* Reset Button */
#but,
#but-theme {
  border: none;
  width: 240px;
  height: 40px;
  font-family: 'Louis George Cafe';
  background-color: dodgerblue;
  color: white;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
}

#but::after, #but-theme::after {
  content: '';
}

#but::before, #but-theme::before {
  content: '';
}

#but:nth-child(2) {
  margin-top: 20px;
}

#but:hover,
#but-theme:hover {
  background-color: #2dbdf9;
}

/* Player turn space */
#plr1,
#plr2 {
  font-family: 'Louis George Cafe';
  color: whitesmoke;
  font-size: 20px;
  width: 100px;
  height: 40px;
  margin: 0 20px 0 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #595457;
  border-radius: 5px;
  user-select: none;
  font-weight: bold;
}

#plr1 {
  background-color: dodgerblue;
}

#trn {
  font-family: 'Louis George Cafe';
  color: whitesmoke;
  font-size: 20px;
  width: 240px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #595457;
  border-radius: 5px;
  font-weight: bold;
}

/* Main Container */
#main {
  text-align: center;
}

.btns {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#credits {
  color: white;
  margin-top: 20px;
  font-family: 'Louis George Cafe';
}

#overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.themes {
  width: 350px;
  height: 200px;
  position: absolute;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  color: white;
}

.themes span {
  top: -15%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  position: absolute;
  font-family: 'Louis George Cafe';
}

.theme-selector {
  display: flex;
  justify-content: center;
  cursor: pointer;
  font-family: 'Louis George Cafe';
}

#def {
  color: rgb(211, 211, 211);
  background-color: rgb(35, 36, 48);
  height: 50px;
  display: flex;
  align-items: center;
}

#light {
  color: black;
  background-color: whitesmoke;
  height: 50px;
  display: flex;
  align-items: center;
}

#bnw {
  color: rgb(107, 107, 107);
  font-family: "Asteratty";
  background-image: url("/assets/images/NSwitch_PaperMarioTheOrigamiKing_Overview_Beautiful_Headline_PaperBG.jpg");
  background-size: cover;
  height: 50px;
  display: flex;
  align-items: center;
}

#cnsl {
  color: white;
  font-family: monospace;
  background-image: url("/assets/images/console.jpg");
  background-size: cover;
  height: 50px;
  display: flex;
  align-items: center;
}
